<launch>

<!-- My Package launch file -->
<node pkg="parker_controller"
     type="Driving.py"
     name="Driving" 
     output="screen">
</node>

<node pkg="parker_controller"
     type="Driving_CNN_Test.py"
     name="Driving_CNN_Test" 
     output="screen">
</node>

<node pkg="parker_controller"
     type="License_Extraction.py"
     name="License_Extraction" 
     output="screen">
</node>

<node pkg="parker_controller"
     type="License_CNN.py"
     name="License_CNN" 
     output="screen">
</node>

<node pkg="parker_controller"
     type="Driving_CNN.py"
     name="Driving_CNN" 
     output="screen">
</node>

<node pkg="parker_controller"
     type="Twist_Commands.txt"
     name="Twist_Commands.txt" 
     output="screen">
</node>

</launch>